body {
  background-color: #D2FCF7;
}

#map1 {height: 95vh; width: 50%; margin: auto;}
#map2 {height: 95vh; width: 50%; margin: auto;}

h1 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 32pt;
  text-align: center;
}

p {
  font-family: "Tahoma", sans-serif;
  font-size: 12pt;
  text-align: center;
}
